.cards {
    height: 280;
    width: 170px;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 5px;
    margin-top: 5px;
    background-color: white;
}
.imagephoto {
    height: 280px;
    width: 170px;
    border-radius: 10px 10px 0px 0px;
    border: 0px 0px 1px 0px solid black;
    margin-left: -13px;
}
.a {
    text-decoration: none;
}
.download {
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
    width: 130px;
    margin: auto;
    color: white;
    background-color: rgb(225, 31, 31);
}