.bg {
    background-color: white;
    height: 50px;
    width: auto;
}
.logo {
    height: 50px;
    justify-content: center;
    align-items: center;
}
.bgdanger {
    margin: 3px;
    padding-right: 4px;
    padding-left: 4px;
    background-color: #e11f1f;
}
.hr {
    margin: 0;
    padding: 0;
}
.btnlink {
    color: white;
    margin-left: 4px;
}